.menu-list-area {
    display: flex;
    height: 60px;
    padding: 0 32px;

    &::before {
        width: 32px;
        background-image: linear-gradient(to left, #fff, rgba(255,255,255,0) );
    }
    &::after {
        width: 32px;
        background-image: linear-gradient(to right, #fff, rgba(255,255,255,0) );
    }
    
    .menu-list {
        
        flex-shrink: 0;
        line-height: 40px;
        
        &:not(:last-child) {
            padding-right: 30px;
        }

        span {
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.4;
            color: $main-color-text2;
            &:hover {
                color: $main-color-text1;
                font-weight: 700;
            }
        }
    }
}